{% extends "layouts.html" %}


{% block body %}
<div>
    <form action="/update/{{data['id']}}" method="POST">
        <div>
            <Label>Product name:</Label>
            <input type="text" name="name" value="{{data['product_name']}}" required>
        </div>
        <div>
            <Label>Product price: </Label>
            <input type="number" name="price" value="{{data['product_price']}}" required>
        </div>
        <div>
            <Label>Choose a size: </Label>
            <select name="size" id="">
                <option value="XS">Extra Small</option>
                <option value="S">Small</option>
                <option value="M">Medium</option>
                <option value="L">Large</option>
                <option value="XL">Extra Large</option>
                <option value="XXL">Extra Extra Large</option>
            </select>
        </div>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}